.employment-component {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding: 2em;
    height: 100%;
    color: white;
    .col {
        img {
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 200px;
            cursor: pointer;
        }
        h5, h6 {
            text-align: center;
        }
        p {
            text-align: justify;
        }
    }
}

@media screen and (min-width: 568px) {
    .employment-component {
        .col {
            h5, h6, p {
                text-align: left;
            }
        }
    }
}