@mixin flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

@mixin background-setup {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin wrapper {
    position: relative;
    width:100%;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}