@import './mixins.scss';

.skills-container {
    // width: 100vw;
    @include flexbox();
    // max-width: 800px;
    border: 1px solid red;
    .wrapper {
        padding: 3em;
        max-width: 1200px;
        height:auto !important;        /* for IE as it does not support min-height */
        .chip {
            background-color: #942F7B;
            color: white;

        }
    }
}