body {
  height: 100%;
  background-color: #021B33;
  a {
    text-decoration: none;
    color: white;
  }
}


@import './mixins.scss';

@import './About.scss';
@import './Hero.scss';
@import './Navigation.scss';
@import './Projects.scss';
@import './Skills.scss';
@import './Contact.scss'