@import "./mixins.scss";

.project-button {
  width: 300px;
  min-height: 300px;
  @include background-setup();
  background-image: url("https://i.pinimg.com/564x/63/1e/fe/631efec1e36db0430354926bccd66be7.jpg");
  p {
    text-align: center;
    font-size: 28px;
    letter-spacing: 2px;
  }
}

.card {
  margin: 0;
  padding: 0;
  box-shadow: none;
  border: none;
  border-radius: none;
  width: 100%;
  .project-img {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
}
