nav .nav-item:hover {
    animation: glow 1s ease-in-out infinite;
    transition: 2s ease-in-out;
    cursor: pointer;
}

header button {
    width: 20%;
    display: block;
    margin: 0 auto;
    margin-top: 20%;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 2vh;
    font-weight: 600;
    padding: 5px 15px;
    text-align: center;
    background: transparent;
    cursor: pointer;
    animation: bounce 2s linear infinite alternate;
}

button:hover {
    animation: glow 1s ease infinite alternate;
}

main {
    background-color: linear-gradient(top, #1A081D, black);
    grid-row: 4/span 4;
    grid-column: 1/span 12;
    margin: 2% 10%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
}

main h2 {
    color: black;
}

main div {}

section {}

footer {
    grid-row: 4/span 12;
    background: purple;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #9D1647, 0 0 20px #ca3d70, 0 0 80px #ca3d70;
    }
    to {
        text-shadow: 0 0 80px #ca3d70, 0 0 60px #ca3d70, 0 0 0 10px transparent;
    }
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #ca3d70, 0 0 80px #ca3d70;
    }
    to {
        text-shadow: 0 0 80px #ca3d70, 0 0 60px #ca3d70, 0 0 50px #d97599,
        0 0 60px #fff, 0 0 10px transparent;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(-1px);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}
