@mixin flexbox {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin background-setup {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin wrapper {
    position: relative;
    width:100%;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

