@import './variables';
@import './mixins';

.resume-object {
    margin-top: 2em;
}

.education-object {
    margin: 30px 0;
    display: flex;
    width: 100%;

    .row {
        width: -webkit-fill-available;
    }
    .img-container {
        max-width: 150px;
        img {
            @include center-by-margin();
            width: 100%;
            margin: 0;
        }
    }
    .education-content {
        // padding-top: 1em;
    }
}