@import "../abstract/mixins";
@import "../abstract/variables";

.subtle-collapsible {
  button {
    background-color: transparent;
    color: $paragraph-color;
    border: none;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-around;
    &:hover,
    &:focus,
    &:focus-within,
    &:focus-visible,
    &:active {
      background-color: transparent !important;
      color: $white !important;
      box-shadow: 0 0 0 0.2rem rgba(38, 115, 234, 0.5);
    }
    .collapsible-icon {
      font-size: 1.5em;
      margin: 2px 0;
      transition: 0.2s ease-in-out;

    }
    h4 {
      width: 100%;
      margin: 0;
      text-transform: uppercase;
    }
  }
  .Opened {
    .collapsible-icon {
        transform: rotate(90deg);
        animation-delay: 0s;
        transition: 0.2s ease-in-out;
    }
  }
}
