@import '../abstract/mixins';

.resume-content {
    width: 100%;
    margin: 2em 1em;
    .inner-container {float: left;}
}

.app {
    max-width: 1600px;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
    @include center-by-margin();
}

.call-to-action-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media all and (max-width: 699px) {
    .call-to-action-row {
        margin: 2em 0;
        button {
            width: 100%;
        }
    }

    .education-content {
        .paragraphs-inline {
            display: block;
            p {
                text-align: left;
            }
        }
        ul li {
            list-style-type: none;
        }
    }
}