@import "../abstract/mixins";
@import "../abstract/variables";

.app {
  max-width: 1600px;
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  position: relative;
  @include center-by-margin();
  .app-container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    padding: 0 !important;
    .app-content {
      margin-top: $navigation-bar-height;
      width: 75%;
    }
  }
}

.side-panel-container {
  margin-top: $navigation-bar-height;
  max-width: 30%;
  .side-panel-row {
    height: 100%;
  }
}

.resume-content {
  width: 100%;
  margin: 2em 1em;
  .inner-container {
    float: left;
  }
}


.loading-container {
  min-height: 20vh;
  width: 100%;
  @include center-by-flexbox(true);
}

.item {
  flex: 1 1 30%;
}

.footer {
  min-height: 10vh;
  padding: 30px;
  background-color: $blue-dark-sea;
  .inner-container {
    padding: 10px;
    text-align: center;
    width: 50%;
    @include center-by-margin();
    p {
      color: $white;
    }
  }
}

@media all and (max-width: 699px) {
  .education-content {
    .paragraphs-inline {
      display: block;
      p {
        text-align: left;
      }
    }
    ul li {
      list-style-type: none;
    }
  }
}
