@import "../abstract/variables";
@import "../abstract/mixins";

.side-panel {
  width: 20vw;
  min-width: 400px;
  height: 100vh;
  background: $side-panel-background;
  .inner-container {
    width: 80%;
    @include center-by-margin();
  }
}

.profile-pic-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  @include center-by-margin($margin-top-bottom: 20px);
  img {
    width: 100%;
    height: 100%;
    @include margin-padding-reset();
  }
}

.profile-content {
  h2 {
    font-size: 32px;
    margin: 15px 0 0 0;
  }
  h6 {
    margin-top: 0;
    font-weight: normal;
  }
  h2,
  h6 {
    text-align: center;
    text-transform: uppercase;
  }
  p {
    margin: 5px;
  }
  svg {
    margin: 8px 5px 0 0;
  }
}

.skills-content {
  padding: 20px 0;

  h2 {
    border-bottom: 5px solid $blue-dull;
    font-size: 24px;
  }

  .skill-list {
    h4 {
      text-transform: uppercase;
      margin: 15px 0;
    }
    li {
        list-style-type: none;
    }
  }

  .skill-list-container {
      max-height: 45vh;
      overflow-y: auto;
  }
}
